
@font-face {
    font-family: 'FrutigerBold';
    src: url('../typeface/frutiger-bold-webfont.eot');
    src: url('../typeface/frutiger-bold-webfont.eot?iefix') format('eot'),
         url('../typeface/frutiger-bold-webfont.woff') format('woff'),
         url('../typeface/frutiger-bold-webfont.ttf') format('truetype'),
         url('../typeface/frutiger-bold-webfont.svg#webfontu9pfibSY') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'FrutigerBoldItalic';
    src: url('../typeface/frutiger-bolditalic-webfont.eot');
    src: url('../typeface/frutiger-bolditalic-webfont.eot?iefix') format('eot'),
         url('../typeface/frutiger-bolditalic-webfont.woff') format('woff'),
         url('../typeface/frutiger-bolditalic-webfont.ttf') format('truetype'),
         url('../typeface/frutiger-bolditalic-webfont.svg#webfontC4shAJGK') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrutigerItalic';
    src: url('../typeface/frutiger-italic-webfont.eot');
    src: url('../typeface/frutiger-italic-webfont.eot?iefix') format('eot'),
         url('../typeface/frutiger-italic-webfont.woff') format('woff'),
         url('../typeface/frutiger-italic-webfont.ttf') format('truetype'),
         url('../typeface/frutiger-italic-webfont.svg#webfontMqfImC5z') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrutigerLight';
    src: url('../typeface/frutiger-light-webfont.eot');
    src: url('../typeface/frutiger-light-webfont.eot?iefix') format('eot'),
         url('../typeface/frutiger-light-webfont.woff') format('woff'),
         url('../typeface/frutiger-light-webfont.ttf') format('truetype'),
         url('../typeface/frutiger-light-webfont.svg#webfontENcLrOof') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrutigerLightItalic';
    src: url('../typeface/frutiger-lightitalic-webfont.eot');
    src: url('../typeface/frutiger-lightitalic-webfont.eot?iefix') format('eot'),
         url('../typeface/frutiger-lightitalic-webfont.woff') format('woff'),
         url('../typeface/frutiger-lightitalic-webfont.ttf') format('truetype'),
         url('../typeface/frutiger-lightitalic-webfont.svg#webfontXtIsXh8u') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrutigerRoman';
    src: url('../typeface/frutiger-roman-webfont.eot');
    src: url('../typeface/frutiger-roman-webfont.eot?iefix') format('eot'),
         url('../typeface/frutiger-roman-webfont.woff') format('woff'),
         url('../typeface/frutiger-roman-webfont.ttf') format('truetype'),
         url('../typeface/frutiger-roman-webfont.svg#webfontmzorKKWm') format('svg');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'GlyphaBlack';
    src: url('../typeface/glypha-black-webfont.eot');
    src: url('../typeface/glypha-black-webfont.eot?#iefix') format('eot'),
         url('../typeface/glypha-black-webfont.woff') format('woff'),
         url('../typeface/glypha-black-webfont.ttf') format('truetype'),
         url('../typeface/glypha-black-webfont.svg#webfontRVubEhuY') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GlyphaBold';
    src: url('../typeface/glypha-bold-webfont.eot');
    src: url('../typeface/glypha-bold-webfont.eot?#iefix') format('eot'),
         url('../typeface/glypha-bold-webfont.woff') format('woff'),
         url('../typeface/glypha-bold-webfont.ttf') format('truetype'),
         url('../typeface/glypha-bold-webfont.svg#webfontta11RvtM') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GlyphaBoldItalic';
    src: url('../typeface/glypha-boldoblique-webfont.eot');
    src: url('../typeface/glypha-boldoblique-webfont.eot?#iefix') format('eot'),
         url('../typeface/glypha-boldoblique-webfont.woff') format('woff'),
         url('../typeface/glypha-boldoblique-webfont.ttf') format('truetype'),
         url('../typeface/glypha-boldoblique-webfont.svg#webfontp8dzMdgS') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GlyphaLight';
    src: url('../typeface/glypha-light-webfont.eot');
    src: url('../typeface/glypha-light-webfont.eot?#iefix') format('eot'),
         url('../typeface/glypha-light-webfont.woff') format('woff'),
         url('../typeface/glypha-light-webfont.ttf') format('truetype'),
         url('../typeface/glypha-light-webfont.svg#webfonts8aTSRxG') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GlyphaLightItalic';
    src: url('../typeface/glypha-lightoblique-webfont.eot');
    src: url('../typeface/glypha-lightoblique-webfont.eot?#iefix') format('eot'),
         url('../typeface/glypha-lightoblique-webfont.woff') format('woff'),
         url('../typeface/glypha-lightoblique-webfont.ttf') format('truetype'),
         url('../typeface/glypha-lightoblique-webfont.svg#webfontSOa7ud00') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GlyphaRoman';
    src: url('../typeface/glypha-oblique-webfont.eot');
    src: url('../typeface/glypha-oblique-webfont.eot?#iefix') format('eot'),
         url('../typeface/glypha-oblique-webfont.woff') format('woff'),
         url('../typeface/glypha-oblique-webfont.ttf') format('truetype'),
         url('../typeface/glypha-oblique-webfont.svg#webfontOakAraHI') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GlyphaThin';
    src: url('../typeface/glypha-thin-webfont.eot');
    src: url('../typeface/glypha-thin-webfont.eot?#iefix') format('eot'),
         url('../typeface/glypha-thin-webfont.woff') format('woff'),
         url('../typeface/glypha-thin-webfont.ttf') format('truetype'),
         url('../typeface/glypha-thin-webfont.svg#webfontrfT8mX1F') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* --------------------------------- @font-face setup --------------------------------- */

