


/* ------------------------- Index Menu -------------------------  */

#indexMenu
{
	margin-left: -25px;
	margin-top: 100px;
	position: fixed;	
	
}
#indexMenu li
{
	
	display: block;
}



#AD a
{
	background-image: url(../images/index_tc.png);
	background-repeat: no-repeat;
	width: 871px;
	height: 66px;
	text-indent: -3000px;
	position: absolute;
	margin-top: 254px;
	margin-left: 0px;
	background-position: bottom;

}
#AD a:hover
{
	background-image: url(../images/index_tc.png);
	background-position: top;
}


#ED a
{
	background-image: url(../images/index_ed.png);
	background-repeat: no-repeat;
	width: 382px;
	height: 114px;
	text-indent: -3000px;
	position: absolute;
	margin-top: 140px;
	margin-left: 488px;
	background-position: bottom;
	z-index: 30;

}
#ED a:hover
{
	background-image: url(../images/index_ed.png);
	background-position: top;
}
#ID a
{
	background-image: url(../images/index_id.png);
	background-repeat: no-repeat;
	width: 871px;
	height: 226px;
	text-indent: -3000px;
	position: absolute;
	margin-top: 25px;
	margin-left: 0px;
	background-position: bottom;
}
#ID a:hover
{
	background-image: url(../images/index_id.png);
	background-position: top;
}


#CO a
{
	background-image: url(../images/index_con.png);
	background-repeat: no-repeat;
	width: 212px;
	height: 75px;
	text-indent: -3000px;
	position: absolute;	
	margin-top: 323px;
	margin-left: 0px;
	border: none;
	background-position: bottom;
}

#CO a:hover

{
	background-image: url(../images/index_con.png);
	background-position: top;
}

#WD a
{
	background-image: url(../images/index_mas.png);
	background-repeat: no-repeat;
	width: 660px;
	height: 149px;
	text-indent: -3000px;
	position: absolute;
	margin-top: 323px;
	margin-left: 213px;
	background-position: bottom;
}
#WD a:hover
{
	background-image: url(../images/index_mas.png);
	background-position: top;
}

#PH a
{
	background-image: url(../images/index_pho.png);
	background-repeat: no-repeat;
	width: 604px;
	height: 76px;
	text-indent: -3000px;
	position: absolute;
	margin-top: 400px;
	margin-left: 2px;
	background-position: bottom;

}
#PH a:hover
{
	background-image: url(../images/index_pho.png);
	background-position: top;
}


/* ------------------------- Index Menu -------------------------  */







/* ------------------------- Contact.html -------------------------  */

#ContactTitle
{
	font-family: 'GlyphaBold';
	font-size: 160px;
	text-transform: uppercase;
	font-style:italic;
	margin-top: 40px;
	margin-left: -4px;
	padding-top: 20px;
	letter-spacing: -8px;
	
}

#ContactTitle .char1 { margin-left:-6px;  }
#ContactTitle .char2 { margin-left:11px;  }
#ContactTitle .char3 { margin-left:0px;  }
#ContactTitle .char4 { margin-left:-2px;  }
#ContactTitle .char5 { margin-left:4px;  }
#ContactTitle .char6 { margin-left:-7px;  }
#ContactTitle .char7 { margin-left:-9px;  }
#ContactTitle .char8 { margin-left:2px;  }



#txtEmail
{
	font-family: 'GlyphaBlack';
	text-transform: uppercase;
	display: block;
	position: absolute;
	font-size: 58px;
	margin-top: 15px;
	line-height: 155px;
	letter-spacing: 0.02em;
}


#EmailAddress
{
	font-family: 'GlyphaLight';
	text-transform: uppercase;
	display: block;
	position: absolute;	
	font-size: 58px;
	margin-top: 15px;
	margin-left: 250px;
	line-height: 155px;
	z-index: 3;

}




#txtMobile {
	font-family: 'GlyphaThin';
	text-transform: uppercase;
	display: block;
	position: absolute;
	font-size: 85px;	
	margin-top: 25px;
	line-height: 235px;}

#txtMobile .char1 { margin-left:0px;  }
#txtMobile .char2 { margin-left:-3px;  }
#txtMobile .char3 { margin-left:-3px;  }
#txtMobile .char4 { margin-left:-1px;  }
#txtMobile .char5 { margin-left:2px;  }
#txtMobile .char6 { margin-left:0px;  }




#MobileNo
{
	
	font-family: 'GlyphaBlack';
	text-transform: uppercase;
	display: block;
	position: absolute;
	font-size: 85px;	
	margin-top: 25px;	
	margin-left: 340px;
	line-height: 235px;
	
}

#txtStayIn {
	
	font-family: 'GlyphaBold';
	text-transform: uppercase;
	display: block;
	position: absolute;
	font-size: 100px;	
	margin-top: 32px;
	line-height: 345px;
	
}

#txtStayIn .char1 { margin-left:0px;  }
#txtStayIn .char2 { margin-left:-2px;  }
#txtStayIn .char3 { margin-left:-7px;  }
#txtStayIn .char4 { margin-left:-8px;  }
#txtStayIn .char5 { margin-left:0px;  }
#txtStayIn .char6 { margin-left:0px;  }
#txtStayIn .char7 { margin-left:0px;  }



#txtLinkedin
{
	font-family: 'GlyphaLight';
	text-transform: lowercase;
	display:block;
	position: absolute;
	font-size: 100px;
	margin-top: 14px;
	margin-left: 430px;
	line-height: 345px;
	
}

#IconLinkedin
{
	background-image: url(../images/icon_linkedin.png);
	background-repeat: no-repeat;
	width: 68px;
	height: 68px;
	position: absolute;	
	margin-top: 158px;
	margin-left: 795px;		
			background-position: bottom;
	
	
}



#IconLinkedin:hover 
{
			background-position: top;

}


#txtTouch {
	
	font-family: 'GlyphaBold';
	text-transform: uppercase;
	display: block;
	position: absolute;
	font-size: 112px;	
	margin-top: 205px;
	line-height: 170px;
}
#txtTouch .char1 { margin-left:0px;  }
#txtTouch .char2 { margin-left:-3px;  }
#txtTouch .char3 { margin-left:-5px;  }
#txtTouch .char4 { margin-left:-5px;  }
#txtTouch .char5 { margin-left:-2px;  }


#txtFacebook
{
	font-family: 'GlyphaLight';
	text-transform: lowercase;
	display:block;
	position: absolute;
	letter-spacing: -2pt;
	font-size: 90px;
	margin-top: 243px;
	margin-left: 430px;	
}
	
#IconFacebook
{
	background-image: url(../images/icon_facebook.png);
	background-repeat: no-repeat;
	width: 68px;
	height: 68px;
	position: absolute;	
	margin-top: 221px;
	margin-left: 795px;	
				background-position: bottom;
		
}
#IconFacebook:hover 
{
			background-position: top;

}


#View
{
	font-family: 'GlyphaThin';
	text-transform: uppercase;
	display: block;
	position: absolute;
	font-size: 98px;
	margin-top: 316px;
	letter-spacing: .05em;
}

#Resume
{
	font-family: 'GlyphaBold';
	text-transform: uppercase;
	font-style: normal;
	display: block;
	position: absolute;
	font-size: 98px;
	margin-top: 316px;
	margin-left: 264px;
	letter-spacing: -1px;
	
}
#Resume a, #txtLinkedin a, #txtFacebook a, #EmailAddress a
{
	text-decoration:none; /* No underline */
	color: #393939;
	}

#Resume:hover a, #txtLinkedin:hover a, #txtFacebook:hover a, #EmailAddress:hover a
{
	text-decoration:none; /* No underline */
	color: #19AAE1;
	}

#ComingSoonTxt

{
 top: 0px;
 position: absolute;
}	


#Coming
{
	font-family: 'GlyphaThin';
	font-size: 162px;
	letter-spacing: -2px;
	display: block;
	margin-top: 0px;
	padding-top: 90px;
	margin-left: -10px;
	color: #ddd ;
/*	text-shadow:0px 3px 8px #D0D0D0 ;  */
		
}
	
#Coming .char1 { margin-left: 0px; }
#Coming .char2 { margin-left: 0px; }
#Coming .char3 { margin-left: -2px; }
#Coming .char4 { margin-left: -1px; }
#Coming .char5 { margin-left: 0px; }
#Coming .char6 { margin-left: -4px; }

#Coming .char7 { margin-left: 0px; }

#Coming .char8 { margin-left: 0px; }
#Coming .char9 { margin-left: -2px; }
#Coming .char10 { margin-left: -3px; }
#Coming .char11 { margin-left: -3px; }
	
	
	
#Soon
{
	font-family: 'GlyphaThin';
	font-size: 340px;
	letter-spacing: -20px;
	text-transform: uppercase;
	display: block;
	margin-top: 197px;
	margin-left: -10px;
	color: #000  ;
/*	text-shadow:0px 4px 10px #D0D0D0 ; */
}
#Soon .char1 { margin-left: -11px;}
#Soon .char2 { margin-left: -16px;}
#Soon .char3 { margin-left: -20px;}
#Soon .char4 { margin-left: -24px;}